@media (max-width: 575.98px) {
    .caixa-atributos{
        margin-bottom: 40px;
    }
    
    nav a:hover{
        border: none;
        padding: 8px 0;
    }
    
    section#topo{
        height: 400px;
    }

    section#topo h1{
        padding-bottom: 30px;
        font-size: 32px;
        width: auto;
    }

    section#topo p{
        display: none;
    }

    section#topo a{
        display: none;
    }

    section#sobre{
        height: 1550px;
    }

    section#sobre h1{
        width: auto;
        text-align: center;
    }

    section#sobre p{
        text-align: center;
    }

    section#ajuda{
        height: 2000px;
    }

    section#ajuda .row > h1{
        font-size: 32px;
        width: 450px;
    }

    section#ajuda .caixa-atributos{
        margin-bottom: 80px;
    }
    
    section#clientes{
        height: 600px;
        padding-top: 60px;
    }

    section#clientes h1{
        text-align: center;
        font-size: 32px;
        width: 400px;
    }

    section#clientes p{
        text-align: center;
        width: 400px;
        padding-bottom: 30px;
    }

    section#links{
        height: 600px;
    }

    section#links h5{
        width: 200px;
    }

    section#links p{
        width: 200px;
    }

    section#links a{
        width: 200px;
    }

    footer#rodape{
        height: 65px;
    }

    footer p{
        padding: 5px;
        margin: 0;
    }

}